__pycache__/
kanji/
cifar/
mnist/
fairface/
/ddpm_logs
/ddpm_samples
/ddpm_1000steps_samples
/ddpm_2000steps_samples
/gan_resnet_kanji_dim128_layers\[256, 128, 64, 32\]
/gan_resnet_kanji_dim128_layers\[512, 256, 128\]
/gan_resnet_kanji_samples
/gan_resnet_spectralnorm_samples
/vae_resnet_dim64
/vae_resnet_dim64_samples
/vae_resnet_dim64_score_imgs
/vae_resnet_dim128
/vae_resnet_dim128_samples
/vae_resnet_dim128_score_imgs
/vae_resnet_dim256
/vae_resnet_dim256_samples
